
body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('masjidkudus1.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #ADD8E6;
    padding: 100px 0;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7); 
}

.navbar-brand, .nav-link {
    color: #fff !important;
    font-weight: bold;
}

h2 {
    color: #333;
}

.container p {
    color: #666;
}
