<style>
        body {
            background-image: url('masjidkudus1.jpg'); 
            background-size: cover; 
            background-position: center; 
            color: white; 
            height: 100vh; 
        }

        .content {
            background-color: rgba(0, 0, 0, 0.5); 
            padding: 20px; 
            border-radius: 10px; 
            margin-top: 20%; 
            text-align: center; 
        }
    </style>
